.add_bt_category_block{
	background-color: #EEEEEE;
	padding: 5px;
	height: auto;
	float: left;
	margin: 2px;
	width: 80%;

}
.bt_groups_container{
	background-color: #EEEEEE;
	padding: 5px;
	height: auto;
	width: 80%;
	float: left;
	margin: 2px;

}

.form_element{
	float: left;
	width: 29%;
	height: 50px;
	margin: 3px;

}




#bt_groups {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#bt_groups td, #bt_groups th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bt_groups tr:nth-child(even){background-color: #f6f6f6;}

#bt_groups tr:hover {background-color: #ccc;}

#bt_groups th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #86ba87;
  color: black;
}

.my-mat-option{
	color:#eee;
}