<div class=component_container>
	<h2>Company Vehicles</h2>
	Please input the cars associated with your company. We think of company cars, cars in a pool, transport vehicles or personally assigned vehicles.
	<br>
	Currently, you have <b>{{n_total_vehicles}}</b> vehicles associated with your company!
	<br>
	<br>
	Add a Vehicle Group
	<br>

	<div class=add_category_block>

		<div class="horizontal_100">
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Vehicle Group Name</h3></mat-label>
				<input matInput type="text" placeholder="1" formControlName="fc_vgn">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label>Vehicle count</mat-label>
				<input matInput type="text" placeholder="1" formControlName="fc_count">
			</mat-form-field>
		</div>

		<div class="horizontal_100">
			Vehicle Properties<br>
			<hr style="width:100%;text-align:left;margin-left:0">

			<mat-form-field appearance="fill" [formGroup]="fg_vehicleclass" class="form_element_small">
				<mat-label>Select Vehicle Class</mat-label>
				<mat-select matNativeControl formControlName="fc_vehicleclass">
					<mat-optgroup *ngFor="let group of vehicle_classes" [label]="group.name">
						<mat-option style="color:#333" *ngFor="let vc of group.vehicles" value={{vc.value}}>{{vc.name}}</mat-option>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="fill" [formGroup]="fg_vehicleclass" class="form_element_small">
				<mat-label>Vehicle Propulsion</mat-label>
				<mat-select matNativeControl formControlName="fc_vehicleprop">
					<mat-option style="color:#333" *ngFor="let vc of vehicle_propulsions" value={{vc.value}}>{{vc.name}}</mat-option>

				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="fill" [formGroup]="fg_vehicleclass" class="form_element_small">
				<mat-label>Mileage/year</mat-label>
				<mat-select matNativeControl formControlName="fc_mileage">
					<mat-option style="color:#333" *ngFor="let mc of mileage_classes" value={{mc.id}}>{{mc.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- CUSTOM MILEAGE-->
			<span *ngIf="show_custom_milage_input==true">
				<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
					<mat-label>Enter mileage/year in km</mat-label>
					<input matInput type="text" placeholder="1" formControlName="fc_custom_mileage">
				</mat-form-field>
			</span>

		</div>

		<!-- SHOW PREDEFINED VALUES -->
		<div class="horizontal_100" *ngIf="show_custom_lease_vehicle_input==false && show_custom_buy_vehicle_input==false">
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Price New in €</h3></mat-label>
				<input matInput type="number" active="false" placeholder="1" formControlName="fc_price_new">
			</mat-form-field>
		</div>

		<!-- CUSTOM BUY -->
		<div class="horizontal_100" *ngIf="show_custom_buy_vehicle_input">
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Price New in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_price_new">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Insurance/year in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_insurance">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Mainenance and Repair/year in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_maintenance">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Consumption in l/km</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_consumption">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Consumption in kWh/km</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_consumption">
			</mat-form-field>

			<button mat-raised-button  color="accent" (click)="temporal_tco();">Do TCO</button>
			{{temporal_vg_co2pkm}} kg co2/km
			{{temporal_vg_costpkm}} €/km
		</div>

		<!-- CUSTOM LEASE -->
		<div class="horizontal_100" *ngIf="show_custom_lease_vehicle_input">
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Leasing rate/year in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_leasing_rate_year">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Insurance/year in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_insurance">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Mainenance and Repair/year in €</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_maintenance">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Consumption in l/km</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_consumption">
			</mat-form-field>

			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass">
				<mat-label><h3>Consumption in kWh/km</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_consumption">
			</mat-form-field>

			<button mat-raised-button  color="accent" (click)="temporal_tco();">Do TCO</button>
			{{temporal_vg_co2pkm}} kg co2/km
			{{temporal_vg_costpkm}} €/km
		</div>

		<div class="horizontal_100">
			Vehicle Usage<br>
			<hr style="width:100%;text-align:left;margin-left:0">

			<div class=form_element_small>
				<form appearance="fill" [formGroup]="fg_vehicleclass">
					<mat-checkbox formControlName="fc_privateuse" >Privat use allowed</mat-checkbox><br>
					<mat-checkbox formControlName="fc_poolcar">Poolvehicle</mat-checkbox>
				</form>
			</div>

			<br>
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass" *ngIf="fg_vehicleclass.value.fc_privateuse==1">
				<mat-label><h3>Private use share in %</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_insurance">
			</mat-form-field>
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass" *ngIf="fg_vehicleclass.value.fc_privateuse==1">
				<mat-label><h3>Commute use share in %</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_insurance">
			</mat-form-field>
			<mat-form-field class="form_element_small" [formGroup]="fg_vehicleclass" *ngIf="fg_vehicleclass.value.fc_privateuse==1">
				<mat-label><h3>Business use share in %</h3></mat-label>
				<input matInput type="number" placeholder="1" formControlName="fc_insurance">
			</mat-form-field>

		</div>


		<form class=block_add>
			<button mat-button mat-icon-button aria-label="Clear" (click)="add_vehicle_group();">
				<mat-icon>add</mat-icon>
			</button>
		</form>


	</div>

	<div class=vehicle_groups_container *ngIf="vehicle_groups.length==0">
		You have no vehicle groups yet!
	</div>
	<div class=vehicle_groups_container *ngIf="vehicle_groups.length>0">

		<table id=customers>
			<tr>
				<th> </th>
				<th>Vehicle class</th>
				<th>Propulsion</th>
				<th>Mileage</th>
				<th>Count</th>
				<th>Private use</th>
				<th>Pool car</th>
				<th> </th>
			</tr>

			<tr  *ngFor = "let vg of vehicle_groups; let i = index">
				<td>{{vg.vgn}}</td>
				<td>{{vg.vehicleclass}}</td>
				<td>{{vg.vehicleprop}}</td>
				<td>{{vg.mileage_name}}</td>
				<td>{{vg.count}}</td>
				<td>{{vg.is_private_use}}</td>
				<td>{{vg.is_poolcar}}</td>
				<td><form class=block_add>
					<button mat-button mat-icon-button aria-label="Clear" (click)="delete_vehicle_group(i);">
						<mat-icon>clear</mat-icon>
					</button>
				</form></td>
			</tr>
		</table>
		<br>
		<span *ngIf="change_detected" style="color: red;">Save your vehicles!</span>
		<br>
		<button mat-raised-button  color="accent" (click)="save_vehicle_groups();">Save vehicle groups</button>
	</div>
</div>