.add_vehicle_category_block{
	background-color: #EEEEEE;
	padding: 5px;
	height: auto;
	float: left;
	margin: 2px;

}


.vehicle_groups_container{
	background-color: #EEEEEE;
	padding: 5px;
	height: auto;
	float: left;
	margin: 2px;

}

.form_element{
	float: left;
	width: 18%;
	height: 50px;
	margin: 3px;

}

.block_add{
	margin: 10px 10px;
	float: right;
	width: 40px;
	height: 50px;
}

.checkbox_margin1 {
  margin: 10px 10px;
}


th{
	margin: 10px;
	padding: 15px;
}

td{
	margin: 10px;
	padding: 15px;
}