
@import "~@angular/material/prebuilt-themes/purple-green.css";


.component_container{
	background-color: #CCCCCC;
	padding: 1%;
  	width: 100%;
  	margin: 5px;
  	float: left;
}


.buttons{
	margin: 5px;
	float: left;
}


.add_category_block{
	background-color: #EEEEEE;
	padding: 5px;
	height: auto;
	float: left;
	margin: 2px;
	width: 80%;

}